<form class="" action="/filtered" method="get">

  <label class="form-check-label"for="search_by">Search books by</label>
  <select id="search_by" name="search_by">
    <option value="title">Title</option>
    <option value="genre">Genre</option>
  </select>
  <input type="text" name="search" value="">
  <input class="btn btn-primary" type="submit" name="" value="Search">
</form>
