<form class="well" action="/books/api" method="post">
  <div class="form-group">
    <label for="title">Title:</label>
    <input id="title" type="text" name="title" value="">
    <br>
    <label for="genre">Genre:</label>
    <input id="genre" type="text" name="genre" value="">
    <br>
    <label for="description">Description:</label>
    <textarea id="description" name="description" class="form-control" rows="3"></textarea>
    <br>
    <label for="cover_url">Cover URL:</label>
    <input id="cover_url" type="text" name="cover_url" value="">
    <br>
    <input class="btn btn-success" type="submit" name="" value="Submit">
  </div>

</form> 
