<div class="row">
  <div class="col-lg-6">
    <a href="/books">
      <img src="https://library.ceu.edu/wp-content/uploads/books-441866_640.jpg" alt="">
      <h1>Books!</h1>
    </a>
  </div>
  <div class="col-lg-6">
    <a href="/authors">
      <img src="http://media.breitbart.com/media/2016/04/English-dramatist-William-Shakespeare-Getty.png" alt="">
      <h1>Authors!</h1>
    </a>
  </div>
</div>
