<h3>Are you sure you want to delete this author?</h3>
<h5>This action cannot be undone</h5>
<form class="" action="/authors/{{thisId}}?_method=delete" method="post">
  <input class="btn btn-danger"type="submit" name="delete" value="Yes">
</form>
  <a href="/authors/{{thisId}}"><button class="btn btn-info" type="submit" name="button">Go Back</button></a>
