{{> nav}}
{{#each thisAuthor}}
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <img src="{{portrait_url}}" alt="">
    </div>
    <div class="col-lg-8">
      <h1>{{first_name}} {{last_name}}</h1>
      <p>{{bio}}</p>
    </div>
  </div>
{{/each}}
